.naming-translations {
  margin-bottom: 0;

  th {
    padding: 12px;
    text-align: left;
  }
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  text-decoration: underline;
}
