---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
$main-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$heading-font: sans-serif;
$regular-font-size: 20px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;

.pagination {
    font-size: 16px;
}

.acknowledgment {
    font-size: 14px;
}

.pull-right {
    float: right;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

@media print {
  .printdiv {page-break-after: always;}
}

@import "ed";
@import "syntax";
@import "cadsr";
