# Built with Jekyll 3.2.0

# Setup
title:               CEDAR User Guide
tagline:             ''
description:         ''
url:                 'https://metadatacenter.github.io'
baseurl:             '/cedar-manual'

# About/contact
author:
  name:              Maulik R. Kamdar
  url:               https://twitter.com/maulikkamdar
  email:             maulikrk@stanford.edu

# Color scheme. Options: red, orange, magenta, cyan, blue, brown
color-scheme: cyan

# Permalinks
permalink: pretty
permalink: /:title/

# Set encoding to UTF-8
encoding: utf-8

# Collections for texts
collections:
  sections:
    output: true
  basic_topics:
    output: true
  advanced_topics:
    output: true
  advanced_guidance:
    output: true
  cedar_templates:
    output: true

# Markdown specs
markdown: kramdown

kramdown:
  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  footnote_backlink: "&#x21a9;&#xfe0e;"
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Exclusions from the final site
exclude:
  - optional
  - vendor

gems:
  - jekyll-last-modified-at


# Theme
#theme: "ed."
